@use "../../styles/partials/mixins" as mx;
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.contrast {
  &__wrapper {
    height: 94vh;
    @include mx.container;
    margin-right: 2.5rem;
    width: 46vw;
  }
  &__title {
    padding-bottom: 1rem;
  }
  &__output {
    height: 85vh;
    @include mx.inset;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.list {
  display: flex;
  justify-content: flex-end;
  height: 98vh;
  &__title {
    padding-bottom: 1rem;
  }
  &__empty {
    @include mx.container;
    width: 32.5rem;
  }
  &__message {
    @include mx.inset;
    margin-bottom: 1rem;
  }
  &__restart {
    @include mx.link;
    @include mx.hover;
  }
  &__wrapper {
    height: 94vh;
    @include mx.container;
    width: 46vw;
  }
  &__output {
    height: 79vh;
    overflow-y: auto;
    overflow-x: hidden;
    @include mx.inset;
    margin-bottom: 1rem;
    list-style-type: circle;
    list-style-position: inside;
  }
  &__item {
    &::marker {
      font-size: 1.5rem;
      margin-right: 0;
      padding-left: 1rem;
    }
  }
}
