// Dark theme

// $primary-background: darken(
//   $color: darkblue,
//   $amount: 10,
// );

// $primary-container: #00008b;

// $primary-inset: darken(
//   $color: darkblue,
//   $amount: 20,
// );

// $divider: darken(
//   $color: darkblue,
//   $amount: 25,
// );

// $primary-text: #fffae3;

// $hover: #6f1d1b;

// $selected: darken(
//   $color: #6f1d1b,
//   $amount: 15,
// );

// Light theme

$primary-background: #131321;

$primary-container: #131321;

$primary-inset: darken(
  $color: #131321,
  $amount: 15,
);

$divider: lighten(
  $color: #1f1f2f,
  $amount: 25,
);

$primary-text: #e0e0dd;

$hover: #d4a373;

$selected: #8989c6;
