@use "../partials/colours" as *;
@mixin container {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  background-color: $primary-container;
  border: 1px solid $divider;
}

@mixin hover {
  cursor: pointer;
  &:hover {
    background-color: $hover;
    transition: 0.3s;
  }
}

@mixin inset {
  color: $primary-text;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $primary-inset;
  border: 1px solid $divider;
}

@mixin link {
  border-radius: 0.5rem;
  background-color: $primary-inset;
  padding: 0.5rem;
  border: 1px solid $divider;
}

@mixin dropdown {
  border: none;
  padding: 0.125rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  background-color: $hover;
  &:focus-visible {
    outline: none;
    background-color: $primary-container;
  }
}
