@use "../partials/colours" as *;
@use "../partials/mixins" as mx;

*,
html,
body {
  margin: 0;
  box-sizing: border-box;
  color: $primary-text;
  font-family: Georgia, "Times New Roman", Times, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  @include mx.hover;
}
:visited {
  color: $primary-text;
}
:checked + label{
    background-color: $primary-inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}
::-webkit-scrollbar-button {
  display: none;
}