.options{
    &__wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__left{
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__meals, &__selected{
        height: 40vh;
        background-color: darkblue;
        border-radius: .5rem;
        padding: 1rem;
    }
    &__meals-list{
        display: flex;
        flex-direction: column;
    }

    &__recipe-wrap{
        width: 45vw;
        background-color: darkblue;
        border-radius: .5rem;
        padding: 1rem;
        height: 84vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__recipe{
        height: 78vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: darken($color: darkblue, $amount: 10);
        border-radius: .5rem;
        padding: 1rem;
        margin-bottom: 1rem;

    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        background-color: darken($color: darkblue, $amount: 10);
        border-radius: .5rem;
        height: 4vh;
        color: #fffae3;
        &:visited{
            color: #fffae3;
        }
    }
&__specs{
    display: flex;
}
}