@use "./styles/partials/colours" as *;
@use "./styles/partials/mixins" as mx;
html {
  background-color: $primary-background;
}
*,
html,
body {
  margin: 0;
  box-sizing: border-box;
  color: $primary-text;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  @include mx.hover;
}
:visited {
  color: $primary-text;
}

/* Coolors palette* With #

oxford blue 
#000025

persian plum 
#6f1d1b

army green
 #474b24
 
 Orange Pantone
 #f75c03
 
 Cornsilk
 #fffae3

*/
